body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light background color for contrast */
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80%;
    background-color: #fff; /* White background for the main container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-column, .right-column {
    padding: 20px;
    overflow-y: auto;
}

.left-column {
    flex: 1;
    background-color: #f7f7f7; /* Slightly different background color for left column */
    border-right: 1px solid #ddd; /* Border to separate the columns */
}

.right-column {
    flex: 2;
}

.export-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

form input,
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    width: 100%;
}

#barcodeScanner {
    width: 100%;
    height: auto;
    max-width: 640px;
    margin-bottom: 20px;
}

.item-card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.item-card img {
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.item-card p {
    margin: 5px 0;
}

.delete-container input[type="text"] {
    margin-top: 10px;
}
